@charset"utf-8";

body {
	color: #00FFFF;
	text-align: center;
	padding: 5px 5px 5px 5px;
	background-color:white;
}

table {
	align-items: center;
	align-content: center;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

.members_body {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-size: cover;
    background-color:#202020;
    /*background-image:url(/back_pic/club.jpg);*/
}


.t_c {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-width: 1px;
    border-color: white;
    margin: 2px;
    padding: 2px;
    background-color: #555555;
}


.t_s {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-width: 1px;
    border-color: white;
    margin: 2px;
    padding: 2px;
    background-color: #888888;
}

.t_kn1 {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-width: 1px;
    border-color: white;
    margin: 2px;
    padding: 2px;
    color:black;
    background-color:antiquewhite;
}


.t_kn2 {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-width: 1px;
    border-color: white;
    margin: 2px;
    padding: 10px;
    background-color: lightcoral;
    color: black;
    height:20px;
}



.menu_font {
    color: white;
}

.news_sentense {
    text-align: center;
    color: #b6ff00;
}

.news_sentense_left {
    text-align: left;
    color: #b6ff00;
}

.t_m {
    background-color:yellow;
    color:black;
    font-weight:bold;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    height:30px;
}


.t_c {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.t_l {
    text-align: left;
    align-items: center;
    align-content: center;
    align-self: center;
}

.text_c {
    text-align: center;
}

<!-- 　メールアドレス -->
.m_add {
    color: #66FFFF;
}


/*entry_page*/


